*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Overpass', sans-serif;
    background-color:hsl(0, 100%, 100%);
    overflow-x: hidden;
    
}
.housing{
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.logo img{
    width: 100px;
}
.hero{
    width: 100%;
    background: url("blogr images/bg-pattern-intro-mobile.svg"), 
    linear-gradient(to right bottom, hsl(356, 100%, 74%), hsl(355, 100%, 63%));
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid hsl(356, 100%, 74%); 
    border-bottom-left-radius: 60px;   
}
.hero-text{
    text-align: center;
    color: white;
    padding: 60px 20px 40px 20px;
    line-height: 1.4;
}
.hero-text h1{
    font-size: 1.8rem;
    padding-bottom: 20px;
    font-weight: 550;
}
.hero-text p{
    font-size: 16px;
    padding-bottom: 20px;
}
.hero-text span{
    display: block;
}

.start {
    background-color: white;
    color: hsl(0, 100%, 75%);
    border: solid 1px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 5px;
}
.learn {
    color:white;
    border: solid 1px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 5px; 
}

.hamburger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    transition: all 0.3s ease-in-out;
}
.hamburger span{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}
/*The js which turns it into an X*/
.hamburger.active span:nth-child(1){
    transform: rotate(45deg) translate(5px, 6px);
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translate(5px,-6px);
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.nav{
    display: none;
    min-height: 100px;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.3s ease;
    flex-direction: column;
}
.nav.open{
    flex-direction: column;
    display: flex;
    list-style: none;
}
.nav-list{
    list-style: none;
    padding:  0;
    margin: 0;
}
.nav-list .main{
    position: relative;
}
.nav-list .dropdown{
    position: absolute;
    display: none;
    padding: 0.5rem 0;
}
.nav-list .main:hover .dropdown{
    display: block;
}
.nav-list a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 0;
}
.nav-list a:hover{
    color: hsl(0, 100%, 75%);
}
.buttons{
    display: none;
}

/*Designed for the future*/
.future{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    line-height: 1.5;
    padding: 50px;
}
.mobile-abilities .break{
    display: block;
}
.heading{
    font-weight: 600;
    font-size: 25px;
    color: hsl(208, 49%, 24%);
    padding-bottom: 15px;
}
.mobile-abilities{
    text-align: center;
    font-size: 16px;
    color: hsl(207, 13%, 34%);
    padding-top: 50px;
}
.mobile-abilities .extensible{
    padding-bottom: 50px;
}
.future .desktop{
    display: none;
}
.future .images{
    padding-top: 50px;
}
    
.desktop-abilities{
    display: none;
    text-align: left;
    font-size: 16px;
    color: hsl(207, 13%, 34%);
}
.mobile-editor{
    height:200px;
}
/*State of the art infrastructure*/
.state-desktop{
    display: none;
}
.state-text .heading{
    color: white;
    padding-top: 160px;
}
.state-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-bottom: 100px;
    color: hsl(207, 16%, 75%);
    background: hsl(237, 17%, 21%)  url("blogr images/bg-pattern-circles.svg") no-repeat ;
    background-size: contain;
    background-position: top;
    border: 2px solid hsl(237, 17%, 21%);
    line-height: 1.5;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    margin-top: 200px;
}
.state-mobile p{
    text-align: center;
}
.state-mobile .phones{
    position: absolute;
    top: -150px;
    left: 40px;
}
.phones img{
    width: 90%;  
}

.state-desktop{
    display: none;
    padding: 50px;
    color: hsl(206, 14%, 62%);
    background: hsl(237, 17%, 21%) url("/blogr images/bg-pattern-circles.svg") no-repeat ;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-size: contain;
    border: 2px solid hsl(237, 17%, 21%);
    line-height: 1.5;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    position: relative;
    width: 100%;
}
.state-desktop .phones{
    position: absolute;
    top: -100px;
    left: 70px;
}
.state-desktop .state-text p{
    text-align: left;
    padding: 50px;
    padding-left: 420px;
    padding-bottom: -300px;
    
}
/*Usability*/
.usability-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    line-height: 1.5;
    padding: 50px;
    color: hsl(207, 13%, 34%);
    text-align: center;
}
.usability-desktop{
    display: none;
    text-align: left;
    line-height: 1.5;
    padding: 50px;
    color: hsl(207, 13%, 34%);
    justify-content: center;
    align-items: center;
}
footer{
    background-color: hsl(240, 10%, 16%);
    text-align: center;
    padding: 80px 100px;
    font-size: 14px;
    line-height: 1.8;
    border: 2px solid hsl(240, 10%, 16%);
    border-top-right-radius: 80px;
    width: 100%;
    
}
.footer-nav{
    gap: 40px;
    font-size: 16px;
    padding-top: 20px;
}
.footer-nav a{
    text-decoration: none;
    display: block;
    color: hsl(210, 6%, 49%);
}
.footer-nav a:hover{
    color: hsl(356, 100%, 74%);
}
.footer-nav .lead{
    font-weight: 600;
    margin-top: 30px;
    padding-bottom: 15px;
    color: white
}       

@media (min-width: 1024px) {
    .hero{
        background: url("blogr images/bg-pattern-intro-desktop.svg"), 
        linear-gradient(to right bottom, hsl(356, 100%, 74%), hsl(355, 100%, 63%));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;  
        border-bottom-left-radius: 0px;
    }
    .hero-text span{
    display: inline-block;
}
   .hamburger{
    display: none;
   }
   .nav{
    max-height: none;
    flex-direction: row;
    display: flex;
    gap: 2rem;
   }
   .nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
   }
   .header .container{
    padding: 30px 80px;
   }
   .buttons{
    display: flex;
    gap: 20px;
    align-items: center;
   }
   .buttons .login{
    padding: 10px 30px;
    border: solid 1px;
    border-radius: 20px;
    background-color: hsl(356, 100%, 74%);
    border-color: hsl(356, 100%, 74%);
    font-size: 16px;
   }
   .buttons .signup {
    padding: 10px 30px;
    border: solid 1px;
    border-radius: 20px;
    background-color: white;
    color: hsl(356, 100%, 74%);
    border-color: hsl(356, 100%, 74%);
    font-size: 16px;
   }

   /*Designed for the future*/
   .heading{
    margin-top: 40px;
   }
   .future{
    padding-top: 100px;
    align-items: center;
    text-align: left;
   }
   .desktop-abilities{
    display: flex ;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;}
   .desktop-abilities .desktop img{
    width: 120%;
    margin-left: 100px;
   }
   .desktop-abilities .spacer{
    width: 160%;
   }
   
   .future .heading{
    display: block;
   }
   .mobile-abilities{
    display: none;
   }

   .future .images{
    display: none;
   }
   .future .desktop{
    display: block;
    padding-top: 50px;
   }
   .desktop img{
    width: 50%;
   }
   /*State of the art infrastructure*/
   .state-mobile{
    display: none;
   }
   .state-desktop .heading{
    padding-bottom: 0px;
   }
    .state-desktop .state-text{
        width: 120%;
    }
 
    .state-desktop{
     display: flex;
     margin-top: 100px;
    }
    .state-desktop .phones{
      width: 40%;
     top: -120px;
     left: 100px;
    }
    .usability-mobile{
     display: none;
    }
    .usability-desktop{
     display: flex;
     margin-top: 100px;
    }
    .usability-desktop .spacer{
      width: 120%;
    }
    .laptop img{
     width: 100%;
    }
    .laptop{
     position: relative;
     left: -205px;
    }
    /*Footer*/
    

    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    .footer-nav{
        display: flex;
        flex-direction: row;
        gap: 80px;
        justify-content: center;
        align-items: center;
    }
    .footer-nav a:hover{
        color: hsl(356, 100%, 74%);
    }
    .footer-nav .lead{
        margin-top: 0px;
    }
}