*{
   padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color:  hsl(219, 28%, 12%);
  margin: 0%;
  font-family: Arial, sans-serif;
}
.container{
  justify-content: center;
  align-items: center;
}
.head{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.logo{
  height: 40px;
}
.nav-links a{
   text-decoration: none;
   color: white;
   /*creates a space between the nav-links*/
   margin-left: 18px;  
}
.image-stack{
  position: relative;
  display: inline-block;
  width: 100%;
}
.productive{
  width: 100%;height: auto;
  padding-top: 20px;
  padding-left: 20px;
  position: absolute;
}
.mobile-curve{
  /*Acting as background image*/
  width: 120%; 
  padding-top: 70%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

h2{
  justify-content: center;
  align-content: center;
  color: White;
}
.share{
  color: white;
}
button{
  color: white;
  border: solid;
  background-color: hsl(176, 68%, 64%);
  border-color: hsl(176, 68%, 64%);
  padding: 9px 40px;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 18px;
}

