*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  margin: 0%;
  font-family: Arial, sans-serif;
  background-color:  hsl(218, 28%, 13%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.insiders{
  justify-content: center;
  align-items: center;
}
.head{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: hsl(219, 30%, 18%);
  width: 100%;
  padding: 4rcap;
}
.logo{
  height: 30px;
}
.nav-links a{
   text-decoration: none;
   color: white;
   /*creates a space between the nav-links*/
   margin-left: 18px;  
}

.image-stack{
  padding-top: 20px;
  background-image: url(/Images/bg-curvy-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 270px;
  width: 100%; 
  padding-bottom: 102px;
  background-color: hsl(219, 30%, 18%);
}

.productive{
  width: 40cap;
  padding-right: 50px;
}


.files{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin-top: -100px;
}
.icons{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons img{
  width: 20px;
}
.icons p{
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 1.3;
}

h2{
  justify-content: center;
  align-content: center;
  color: White;
  text-align: center;
}
.files p{
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
}
button{
  margin: 10px 0;
  color: white;
  border: solid;
  background-color:hsl(198, 60%, 50%);
  border-color: hsl(198, 60%, 50%);
  padding: 9px 40px;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 18px;
}

.icons img{
  width: 15%;
  padding-top: 15%;

}
h3{
  color: white;
  padding-top: 7%;
  padding-bottom: 3%;
}

.stay-productive{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stay-productive img{
 height: auto;
 width: 100%;
}
.stay-productive p{
  color: white;
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 1.5;
}
.stay-productive a{
  font-size: 14px;
  color: hsl(176, 68%,64%);
  text-decoration: underline;
}
.stay-productive a img{
  width: auto;
  display: inline-block;
}
/*Commments*/
.comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  width: 100%;
  gap: 25px;
  position: relative;
  padding-bottom: 200px;
}
.quotes img{
  height: 20px;
  margin-right: 28.4cap;
  margin-bottom: -30px;
}
.testimonies{
  background-color: hsl(219, 30%, 18%);
  border: solid;
  border-color:  hsl(219, 30%, 18%);
  box-shadow: 20px;
  padding: 25px;
  color: whitesmoke;
  font-size: 14px;
  height: 200px;
  border-radius: 4px;
}
.testimonies p{
  text-align: left;
  line-height: 1.2;
}
.testimonies img{

  border: solid;
  width:60px ;
  border-radius: 40px;
  border-color: hsl(219, 30%, 18%); ;
}
.profile{
  display: flex;  
  padding-top: 40px;
}
.bio{
  padding-left: 7px;
}
.bio h4{
  padding-top: 5px;
}
.bio p{
  padding-top: 20px;
  font-size: 11px;
}
.move{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -36%;
}
.early-access{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 8px;

  padding: 50px 20px;
  border: solid;
  border-color: hsl(217, 28%, 15%);
  background-color: hsl(217, 28%, 15%);
  border-radius: 10px;
}
.early-access p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 14px;
}
.early-access button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.action{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 25px;
}
.gmail{
  background-color: white;
  color: black;
  font-size: xx-small;
  text-decoration: none;
  padding: 16px 79px;
  border-radius: 20px;
}
.start{
  background-color: hsl(198, 60%, 50%);
  padding: 13px 63px;
  font-size: 14px;
  color: white;
  border-radius: 25px;

}
footer{
  background-color: hsl(216, 53%, 9%);
  display: flex;
  justify-content: center;
  align-items: center; 
  color: white;
  font-size: 14px;
  padding: 20px;
  padding-top: 20%;
}
.footer{
  object-fit: contain;
  width: 100%;
  padding-top: 120px;
  padding: 50px;
}

.emblem{
 width: 5px;
  padding-top:  30px;
  padding-bottom: 30px;
}
.residue{
  display: flex;
  gap: 22px;
}
.residue img{
  height: 15px;
}
.residue p{
  line-height: 1.5;
}

.tell{
  display: flex;
  gap: 18px;
  padding-top: 20px;
}
.tell img{
  height: 13px;
}
.mail{
  display: flex;
  gap: 18px;
  padding-top: 24px;
}
.mail img{
  height: 17px;
}
/*About us etc*/
.inquiry{
  padding-top: 60px;
}
.inquiry a{
  color: white;
  text-decoration: none;
  line-height: 2;
  display: flex;
  flex-direction: column;
}
.connect{
  padding-top: 25px;
}
.connect a{
  line-height: 2;
 color: white;
 text-decoration: none;
 display: flex;
 flex-direction: column;
}
.socials{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.socials img{
  width: 35px;
}

@media (min-width:1024px){
  .head{
    width: 100%;
    padding: 25px 10px;
  }
  .productive{
    width: 70%;
    margin-left: 150px;
  }
  .image-stack{
    background-image: url(/Images/bg-curvy-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
    background-position-y: 80cqmax;
    padding-bottom: 30cqmax;
  }
  .files{
    margin-top: -40%;
  }
  .flex1{
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .flex2{
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .capabilities{
    padding-bottom: 100px;
  }
  .stay-productive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
  }
.stay-productive img{
  width: 350px;
}
.comments{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-right: 40%;
}
.testimonies{
  width: 350px;
  height: 220px;
}
}

