 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif ;  
}

.insert{
    border: 1px solid ;
    border-radius: 5px;
    border-color: hsl(200, 24%, 40%);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.first{
    justify-content: flex-start;

}
.insert input{
    border: none;
    background: none;
    outline: none;
    padding: 5px;
}
.insert span{
  background-color: hsl(202, 86%, 94%);
  padding: 3.5px;
  padding-top: 1.5px;
}
.sub-div{
    margin-top: 15px;
    margin-bottom: 15px;
}
.form{
    padding: 15px;
}
.sub-div label{
    color: hsl(200, 24%, 40%) ;
}
/* Clear all */
a{
    color: hsl(200, 24%, 40%) ;
}
/*Mortgage only*/
.mortgage-type label{
    color: hsl(200, 24%, 40%)  ;
    
}
.mortgage-type span{
    color: hsl(202, 55%, 16%);
    font-weight: bold; 
} 

.choose{
    border:  solid 1px ;
    border-color: hsl(202, 55%, 16%); 
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: rgb(239, 239, 194);
    padding: 3px;
}
.choose-me{
     border:  solid 1px ;
    border-color: hsl(202, 55%, 16%); 
    border-radius: 5px;
    padding: 3px;
}
.space-out{
    padding-top: 15px;
    padding-bottom: 30px;
}
/*Repayments*/
button{
    background-color: hsl(61, 70%, 52%);
    border-radius: 20px;
    padding: 5px;
    

}
button{
    padding-left: 0px;
}
/*Results*/
.results{
    padding: 15px;
    background-color: hsl(202, 55%, 16%);
}
  h3{
    color: white;
  }  
  p{
    color: white;
    padding-top: 10px;

  }
.again{
    margin-bottom: 10px;
}
  .card{
    background-color: hsl(201, 73%, 10%) ;
    border: 1px solid;
    border-top: 50px;
    border-top-color: hsl(61, 70%, 52%);
    border-color: hsl(202, 55%, 16%);
    border-radius: 17px;
    padding: 20px;
  }
  .money{
    font-size: 40px;
    color: hsl(61, 70%, 52%) ;
    padding-top: 10px;
  }
  .total{
    font-size: larger ;
    color: white;
    padding-top: 10px;
  }
    border: 0px 0px 0px 0px;


































/*
.calculator{
    overflow: hidden;
}

.form{
    background-color: white;
    flex:1 ;
    
}


.results{
    background-color: rgb(7, 2, 56);
    color: aliceblue;
    flex:1 ;
    
    
}
input {
  margin-bottom: 20px ;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  padding-left: 5px;
}
.card{
    border-style: outset;
    border-radius: 10px;
    padding-left: 10px;
    border-top: 3px solid;
}
.money{
    font-weight: bold;
    font-size: 35px;
    color: rgb(167, 193, 16);

}
\
button{
       background-color: rgb(234, 211, 45);
       border-radius: 5px;
       padding-right: 20px;
    
} */